<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chayma.sotetel_vehicule"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
       
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo55"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main2Activity"
            android:label="Parc Auto"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListVehicule"
            android:label="main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".VehiculeInfo"
            android:label="main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Vehicules"
            android:label="Vehicules"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListVisite"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Visites"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListMaintenance"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Maintenances"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListAssurance"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Assurances"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListEmploye"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Employes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EmployeInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_employe_info"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".ListCarte"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Cartes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".menuV2" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <receiver
            android:name=".Main2Activity$MyReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ServiceNotif"
            android:exported="true" />
        <service
            android:name=".ServiceNotifVisite"
            android:exported="true" />
        <activity
            android:name=".SpinnerAct"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListMission"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ListProjet"            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Projets"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".ProjetInfo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Missions"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".ListAssuranceEx"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ListMat" >
        </activity>
        <activity android:name=".CarteInfo" >
        </activity>
        <activity android:name=".MenuDirecteur" >
        </activity>
        <activity android:name=".MenuChefProjet" >
        </activity>
        <activity android:name=".MenuChefParc" >
        </activity>
        <activity android:name=".MenuRH" >
        </activity>
    </application>

</manifest>
